# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/structure.hash
.vscode/.BROWSE.C_CPP.DB
.pio/build/structure.hash
.vscode/.BROWSE.C_CPP.DB
.vscode/c_cpp_properties.json
.vscode/launch.json
